<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Formulario Responsivo de registro</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div class="container">
        <h1 class="form-title">Bem Vindo ao seu perfil</h1>
        <img src="agroo.png">
        <form action="#">
            <div class="main-user-info">
                <div class="user-input-box">
                    <label for="fullName">Nome Completo </label>
                    <input type="text" id="fullName" name="fullName" placeholder="Entre com o nome completo" />
                </div>
                <div class="user-input-box">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Inserir senha" />
                </div>
                <div class="user-input-box">
                    <label for="confirmPassword">Confirmar Senha</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmar senha" />
                </div>
            </div>
        </form>
            <body>
                <!-- <a class="btn-link" href="2index.html">Finalizar cadastro</a> -->
            </body>
            <!-- botões ligadado as telas  -->
            <!-- Voltar a tela principal  -->

            <body>
                <a class="btn-link" href="index.html">voltar ao menu principal </a>
            </body>
            <!-- ir para a tela de cadastro de produtores  -->

            <body>
                <a class="btn-link" href="3index.html"> produtores</a>
            </body>
            <!-- ir para a tela de cadastro de produtores  -->

            <body>
                <a class="btn-link" href="4index.html"> propriedade</a>
            </body>

    </div>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: content-box;
        }

        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-link {
            text-decoration: none;
            border: 1px solid #000;
            width: 100px;
            text-align: center;
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            background-color: #006400;
            color: #fff;

        }

        .btn-link:hover {
            box-shadow: 2px 2px #000;
        }
    </style>

    <body>
    </body>
    
    </div>
</body>

</html>