@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Formulario Responsivo de registro</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="container">
        <h1 class="form-title">Seja bem vindo</h1>
        <img src="agroo.png">
        <form action="#">
            <div class="main-user-info">
                <div class="user-input-box">
                    
                </div>
                <body>
                    <a class="btn-link" href="2index.html">Entrar</a>
                    <!-- <p>Não possui cadastro?</p> -->
                    <input type="text" id="fullName" name="fullName" placeholder="Não posui cadastro?" />
                    <a class="btn-link" href="3index.html">Cadastrar</a>
                </body>
            </div>
        </form>
    </div>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: content-box;
        }

        body {
            width: 100vw;
            height: 100vh;
        }
    </style>
    
    </div>
</body>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-link {
        text-decoration: none;
        border: 1px solid #000;
        width: 800px;
        text-align: center;
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        background-color: #006400;
        color: #fff;

    }

    .btn-link:hover {
        box-shadow: 2px 2px #000;
    }
</style>

</html>
