@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>
    <div class="container">
        <h1 class="form-title">Seja bem vindo</h1>
        <img src="~/imagens/agroo.png" alt="Logo">
        <form action="">
            <div class="main-user-info">
@*                <div class="user-input-box">
                </div>*@
                <div>
                    <a class="btn-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    @*<p>Não possui cadastro?</p>*@
                    <input type="text" id="fullName" name="fullName" placeholder="Não possui cadastro?" />
                    <a class="btn-link" asp-area="" asp-controller="Home" asp-action="CadastroProprietario">Cadastrar</a>
                </div>
            </div>
        </form>
    </div>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: content-box;
        }

        body {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-link {
            text-decoration: none;
            border: 1px solid #000;
            width: 1000px;
            text-align: center;
            padding: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            background-color: #006400;
            color: #fff;
        }

            .btn-link:hover {
                box-shadow: 2px 2px #000;
            }
    </style>
</body>
</html>
